h1 {
	color: rgb(216, 184, 0);
}
h2 {
	color: rgb(3, 153, 190);
	text-align: center;
}
h3 {
	color: black;
}
section {
	margin: 30px;
	padding: 30px;
	border-radius: 10px;
	background-color: rgb(252, 252, 252);
	-moz-box-shadow: 3px 3px 8px 2px rgba(204, 204, 204, 0.486);
	-webkit-box-shadow: 3px 3px 8px 2px rgba(204, 204, 204, 0.507);
	box-shadow: 3px 3px 8px 2px rgba(204, 204, 204, 0.493);
}
body {
	place-items: center;
}
img {
	padding: 0px;
	box-shadow: rgb(155, 155, 155);
	width: 1200px;
	height: 600px;
	vertical-align: center;
}
.hero {
	box-shadow: black 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border-radius: 15px;
	-moz-box-shadow: 3px 3px 8px 2px rgba(204, 204, 204, 0.486);
	-webkit-box-shadow: 3px 3px 8px 2px rgba(204, 204, 204, 0.507);
	box-shadow: 3px 3px 8px 2px rgba(204, 204, 204, 0.493);
}
footer {
	text-align: center;
	color: rgb(155, 155, 155);
}
.hero-title {
	text-align: center;
}
.hero-sub-title {
	text-align: center;
	color: rgb(155, 155, 155);
}
.info {
	text-align: center;
}
section .dot {
	color: rgb(155, 155, 155);
}
